/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.824), rgba(255, 255, 255, 0.872)),
    url("./assets/burger-friends.jpg");
    margin : 0;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0fb9b1;
    width: 100%;
}
.title{
    font-family: 'Encode Sans SC', sans-serif;
    font-size : 32px;
    top: 50%;
    float: left;
    padding: 10px 20px;
    margin: 0px 0px;
}
/* margin and padding T R B L */
.addRecipeBtn {
    background-color: #d8dfdf;
    border: none;
    color: black;
    padding: 10px 20px;
    margin: 10px 10px;
    text-align: center;
    font-size: 20px;
    float: right;
    border-radius: 5px;
}
.addRecipeBtn:hover {
    background-color: #95a5a6;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 50%;
}
.selectionPane{
    /* 

        Posistion
    distance from top of page 15%
    distance from right edge 8%
    distance from bottom 26%


        Size
    Box covers 35%
    Box covers 50%

    spacing
    */
}
