/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.824), rgba(255, 255, 255, 0.872)),
    url("./assets/burger-friends.jpg");
    margin : 0;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0fb9b1;
    width: 100%;
}
.title{
    font-family: 'Encode Sans SC', sans-serif;
    font-size : 32px;
    top: 50%;
    float: left;
    padding: 10px 20px;
    margin: 0px 0px;
}
/* margin and padding T R B L */
.addRecipeBtn {
    background-color: #d8dfdf;
    border: none;
    color: black;
    padding: 10px 20px;
    margin: 10px 10px;
    text-align: center;
    font-size: 20px;
    float: right;
    border-radius: 5px;
}
.addRecipeBtn:hover {
    background-color: #95a5a6;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 50%;
}
                                        /* Posistion
                                    distance from top of page 15%
                                    distance from right edge 8%
                                    distance from bottom 26%

                        
                                        Size
                                    Box covers 35%
                                    Box covers 50%

https://files.slack.com/files-pri/T029P2S9M-F028D31DVPG/screenshot_at_jul_19_23-40-43.png */
.content{
   border: 1px solidrgba(34, 0, 0, 0);
   background-color: rgba(255, 255, 255, 0);
   margin: 15% 8%;
   height: 530px;
   overflow: visible;
   /* total width : 83% */
}

.selection-pane{
   position: relative;
   border: 1px solidrgb(0, 34, 5);
   background-color: rgba(1, 0, 0, 0.413);
   border-radius: 50px;
   height: 100%;
   width: 42%;
   overflow: visible;
   float: left;
}
.selection-title{
    font-size: 50px;
    float: top;
    margin: 20px 20px;
}





.results-pane{
   position: relative;
   border: 1px solidrgb(0, 34, 5);
   background-color: rgba(1, 0, 0, 0.413);
   border-radius: 50px;
   height: 100%;
   width: 42%;
   float: right;
}
.results-pane.img{
    position: relative;
    height: 100%;
    width: 42%;
}

